h2{
    color: green;
}

h3{
    color: forestgreen;
}

h1, h2, h3{
    text-align: center;
    font-weight: bold;
}

table {
    border:2px solid darkgreen;
    width: 650px;
    margin: auto;
}

thead {
    background-color: chartreuse;
}

td {
    border: 1px solid darkgreen;
}

.code {
    font-family: monospace;
    background-color: darkgrey;
}

body {
    background-color: floralwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}