* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("images/space-background.jpg");
    color: bisque;
    font-family: monospace;
    font-size: 22px;
    text-align: center;
}

.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    opacity: 0.8;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    border-radius: 100%;
    width: 100px;
    height: auto;
    margin: auto;
    padding: 10px;
    position: relative;
}

.navbar{
    display: flex;
    padding-right: 20px;
}

.navbar p{
    padding: 10px 10px;
}

a{
    color:blanchedalmond;
}

.main{
    padding-top: 150px;
    margin: 100px auto;
}

.about-container{
    background-image: url("images/galaxy-background.jpg");
    background-position: center;
    background-size: 950px;
    height: auto;
    width: 50%;
    margin: auto;
    padding: auto;
}

.about-text{
    padding-top: 40px;
}

.banner{
    
}

.banner h2, .banner h4{
    background-color: black;
    padding: 20px;
}