* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("images/space-background.jpg");
    color: bisque;
    font-family: monospace;
    font-size: 22px;
    text-align: center;
}

h3{
    padding: 10px;
}

.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    opacity: 0.8;
    color: purple;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    border-radius: 100%;
    width: 100px;
    height: auto;
    margin: auto;
    padding: 10px;
    position: relative;
}

.navbar{
    display: flex;
    padding-right: 20px;
}

.navbar p{
    padding: 10px 10px;
}

.main{
    margin: 100px auto;
}

.about-container, .investment-container, .team-container, .contact-container{
    border: 5px red dotted;
    margin: 50px auto;
    width: 70%;
}

.about-container{
    height: auto;
}

.content{
    padding: 20px;
}



.banner{
    width: 100%;
    background-image: url("images/galaxy-background.jpg");
    background-position: center;
    background-size: 950px;
}

.about-text{
    padding-top: 40px;
}

#investables{
    min-height: 500px;
    margin: auto;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img{
    height: auto;
    padding: 10px;
    width: 200px;
    margin: auto;
}

.image p{
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}